<div class="container">

<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<%= link_to "About Me", about_path, class:"font-black" =%>
<br />
<%= link_to "Posts", posts_path, class:"text-red" =%>
</div>