<div id="<%= dom_id post %>">
  <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <small> <%= pluralize(post.views, "vue") %> </small>

  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

</div>
